.lists-grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: var(--space-xl, 1rem);
  grid-auto-flow: dense;
}

@media (max-width: 100rem) {
  .lists-grid {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media (max-width: 75rem) {
  .lists-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 48rem) {
  .lists-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.lists-content__loading {
  padding: var(--space-4xl) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
