.ui-poster-grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: var(--space-xl);
  width: 100%;
}

@media (max-width: 100rem) {
  .ui-poster-grid {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media (max-width: 75rem) {
  .ui-poster-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 48rem) {
  .ui-poster-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.library-scenes-grid {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width: 100rem) {
  .library-scenes-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 75rem) {
  .library-scenes-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 48rem) {
  .library-scenes-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
