.ui-stack {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.ui-stack--2xs {
  gap: var(--space-xs);
}

.ui-stack--xs {
  gap: var(--space-sm);
}

.ui-stack--sm {
  gap: var(--space-sm);
}

.ui-stack--md {
  gap: var(--space-md);
}

.ui-stack--lg {
  gap: var(--space-md);
}

.ui-stack--xl {
  gap: var(--space-lg);
}

.ui-stack--2xl {
  gap: var(--space-lg);
}

.ui-stack--3xl {
  gap: var(--space-xl);
}

.ui-stack--4xl {
  gap: var(--space-2xl);
}
