.create-tag-form__image-preview {
  width: 100%;
  height: 100%;
  background-size: cover;
  cursor: move;
  user-select: none;
}

.create-tag-form__input-wrapper {
  flex: 1;
}

.create-tag-form__help-text-wrapper {
  margin-top: var(--space-xs);
}