.add-people-dropdown {
  flex: 1;
}

div.add-people-modal-body {
  overflow-y: hidden;
}

.add-people-modal__loading-wrapper {
  padding: var(--space-3xl);
}

.add-people-modal__list {
  padding-right: var(--space-xs);
}

.add-people-modal__error-message {
  padding: var(--space-lg);
}